.SetsListItem {
    display: flex;
    padding-left: 12px;
}

.SetsListItem-Cover {
    border-radius: 6px;
    padding: 4px 0;
}

.SetsListItem-Body {
    align-self: stretch;
    flex-grow: 1;

    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    margin-left: 12px;
    border-bottom: 0.5px solid #d7d8d9;
}

.SetsListItem:last-child .SetsListItem-Body {
    border-bottom: none;
}

.SetsListItem-Meta {
    display: flex;
    flex-direction: column;
}

.SetsListItem-Title {
    max-height: 40px;
    overflow: hidden;
}

.SetsListItem-Actions {
    margin-right: 16px;
    color: #528bcc;
}
