.EditSet__headerGroup {
    margin-top: 0;
}

.EditSet__headerContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}

.EditSet__headerInput {
    margin-top: 15px;
    text-align: center;
    outline: none;
    border: none;
}

.EditSet__headerInput::placeholder {
    color: #000000;
    opacity: 1;
}

.EditSet__headerInput:focus::placeholder {
    color: transparent;
    /*border-bottom: 1px solid #528BCC;*/
}

.EditSet__headerInput:-ms-input-placeholder,
.EditSet__headerInput::-ms-input-placeholder {
    color: #000000;
}

.EditSet__subheader {
    border-top: 0.5px solid rgba(0, 0, 0, 0.12);
    padding: 16px 12px;
}

.EditSet__subtitle {
    text-transform: uppercase;
    font-weight: 600;
}

.EditSet__tip {
    margin-top: 5px;
}

.EditSet__button {
    margin: 6px 12px 20px;
    border-radius: 15px;
}

.EditSet__button .Button__content {
    display: flex;
}

.EditSet__button .Button__content .Icon {
    margin-right: 8px;
}
