.EditSet-HeaderGroup {
    margin-top: 0;
}

.EditSet-HeaderContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}

.EditSet-HeaderInput {
    margin-top: 15px;
    text-align: center;
    outline: none;
    border: none;
}

.EditSet-HeaderInput::placeholder {
    color: #000000;
    opacity: 1;
}

.EditSet-HeaderInput:focus::placeholder {
    color: transparent;
    /*border-bottom: 1px solid #528BCC;*/
}

.EditSet-HeaderInput:-ms-input-placeholder,
.EditSet-HeaderInput::-ms-input-placeholder {
    color: #000000;
}

.EditSet-Subheader {
    border-top: 0.5px solid rgba(0, 0, 0, 0.12);
    padding: 16px 12px;
}

.EditSet-Subtitle {
    text-transform: uppercase;
    font-weight: 600;
}

.EditSet-Tip {
    margin-top: 5px;
}

.EditSet-Button {
    margin: 6px 12px 20px;
    border-radius: 15px;
}

.EditSet-Button .Button__content {
    display: flex;
}

.EditSet-Button .Button__content .Icon {
    margin-right: 8px;
}
