.ViewSet-HeaderGroup {
    margin-top: 0px;
}

.ViewSet-SetInfo {
    display: flex;
    padding: 24px 12px 14px;
}

.ViewSet-Meta {
    flex-grow: 1;
}

.ViewSet-Title {
    margin: 5px 0;
}

.ViewSet-Cover {
    align-self: center;
}

.ViewSet-Actions {
    display: flex;
    border-top: 0.5px solid rgba(0, 0, 0, 0.12);
}

.ViewSet-Separator {
    align-self: center;
    border-right: 0.5px solid rgba(0, 0, 0, 0.12);
    width: 0.5px;
    height: 28px;
}

.ViewSet-HorizontalSeparator {
    box-sizing: border-box;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.12);
    height: 1px;
    margin-left: 13px;
}

.ViewSet-Actions .CellButton__content {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
    font-style: normal;
}

.ViewSet-Actions .CellButton__in {
    justify-content: center;
}

.ViewSet-Cards {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
}

.ViewSet-Card:not(:last-child) {
    margin-bottom: 14px;
}

.ViewSet-Card .Cell__main {
    padding: 10px 9px;
}
