:root {
    --free-area: calc(100vh - 44px);
    --cards-height: calc(var(--free-area) * 0.8);
    --cards-vertical-margin: calc(var(--free-area) * 0.03);
    --cards-shift: calc(var(--free-area) * 0.07);
    --card-number: 0;
}

.title-xxl {
    font-size: 24px;
    line-height: 28px;
    font-weight: bold;
}

.title-xl {
    font-size: 20px;
    line-height: 24px;
    font-weight: 600;
}

.title-l {
    font-size: 17px;
    line-height: 22px;
    font-weight: 600;
}

.title-m {
    font-size: 17px;
    line-height: 22px;
    font-weight: normal;
}

.headline {
    font-size: 16px;
    line-height: 20px;
    font-weight: normal;
}

.subhead {
    font-size: 14px;
    line-height: 18px;
    font-weight: normal;
}

.subhead_secondary {
    color: #76787A;
}

.caption-m {
    font-size: 13px;
    line-height: 16px;
    font-weight: normal;
    color: #909499;
}

.caption-s {
    font-size: 12px;
    line-height: 14px;
    font-weight: normal;
    color: #909499;
}
